:root {
    --mainblue: #40acf1;
    --transparentBlue: rgba(64, 172, 241, 0.7);
    --mainWhite: #ffffff;
    --mainBlack: #292f36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
}

@font-face {
    font-family: Popins;
    src: url(../fonts/Poppins-Light.ttf);
}

body {
    font-family: "Popins", sans-serif;
    overflow-x: hidden;
}


/* start header and navbar */

.navbar-btn:focus {
    outline: 0;
}

.navbar {
    position: relative;
    z-index: 300;
    margin-top: -18px !important;
}

.navbar-navigation::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    opacity: 0.8;
    display: none;
}

.navbar-navigation-left {
    position: fixed;
    background-color: black;
    width: 50vw;
    height: 100vh;
    left: -50vw;
    opacity: 0.8;
    transition: 0.5s cubic-bezier(1, 0, 0, 1);
    z-index: 400;
}

.navbar-menu {
    margin: 30px 20px;
}

.nav-link {
    font-size: 13px !important;
}

.hamburgar-menu {
    width: 30px;
    height: 30px;
    z-index: 300;
    position: fixed;
    right: 20px;
    top: 17px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.5s;
}

.menu-line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all .5s .5s;
    transform-origin: right;
}

@media (min-width:992px) {
    .navbar-navigation-left {
        left: 0;
        background-color: transparent;
        margin-left: 360px;
        margin-top: -7px;
        transition: none;
    }
}

.check:checked~.navbar-navigation::after {
    display: block;
}

.check:checked~.navbar-navigation .navbar-navigation-left {
    left: 0;
}

.check:checked~.hamburgar-menu .menu {
    transform: rotate(90deg);
}

.check:checked~.hamburgar-menu .menu .menu-line-1 {
    transform: rotate(-40deg);
}

.check:checked~.hamburgar-menu .menu .menu-line-2 {
    opacity: 0;
}

.check:checked~.hamburgar-menu .menu .menu-line-3 {
    transform: rotate(40deg);
}

.header {
    padding: 15px;
    background-color: rgba(138, 144, 255, 0.9);
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.navbar {
    width: 100%;
}

.navbar-icon {
    color: var(--mainWhite);
}

.nav-link {
    text-decoration: none;
    color: var(--mainWhite);
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
}

.nav-link:hover {
    color: var(--mainWhite);
}


/* start banner */

.banner {
    background: url(../img/banner-bg.jpg);
    background-repeat: round;
    color: var(--mainWhite);
    padding-top: 70px;
    min-height: 100vh;
}

.btn-banner {
    font-size: 0.8rem;
    padding: 0.7rem 2rem !important;
    font-weight: bold;
    cursor: pointer;
}

.btn-banner:hover {
    background-color: transparent;
    color: var(--mainWhite);
}

.title {
    font-size: 35px;
    font-weight: 1;
}

@media screen and (min-width:200px) {
    .titles {
        margin-top: -30px;
    }
    .banner-img {
        margin-top: -80px;
    }
}

@media screen and (min-width:750px) {
    .title {
        width: 300px;
        font-size: 35px;
        margin-bottom: 30px;
    }
    .titles {
        margin-top: 40px;
    }
    .banner-img {
        margin-top: 50px;
    }
}

@media screen and (min-width:1200px) {
    .title {
        width: 500px;
        font-size: 60px;
    }
    .banner-img {
        margin-top: 20px;
    }
}


/* start card section */

.card {
    box-shadow: 0px 10px 30px 0px rgb(189, 187, 187);
    border: none;
}

.card-title {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bolder;
}

.card-text {
    font-size: 0.9rem;
}

.featured-title {
    font-size: 2.5rem;
    font-weight: 900;
}

.btn-featured {
    padding: 0.7rem 2rem;
    font-size: 0.9rem;
    background-color: var(--mainWhite);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.card:hover .btn-featured {
    color: var(--mainWhite);
    background: #d496ff;
}


/* start globally */

.globally-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.globally-text {
    font-size: 0.9rem;
}

.btn-globally {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--mainWhite);
    background-color: #d496ff;
    border: 1px solid #d496ff !important;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.btn-globally:hover {
    background-color: transparent;
    color: #d496ff;
}


/* start brand */

.brand-text {
    color: #828fff;
    font-size: 0.9rem;
}

.brand-title {
    font-weight: bold;
    font-size: 2rem;
    width: 400px;
}

.brand-subtitle {
    font-weight: bold;
    font-size: 0.9rem;
}

.brand-subtitle-secound {
    font-size: 0.9rem;
}

.brand-btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--mainWhite);
    background-color: #d496ff;
    border: 1px solid #d496ff !important;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.brand-btn:hover {
    background-color: transparent;
    color: #d496ff;
}


/* start video */

.video {
    position: relative;
    z-index: -3;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #828fff 0%, #d496ff 100%);
    z-index: -2;
    opacity: 0.8;
}

.play-btn {
    position: absolute;
    top: 43%;
    left: 45%;
}


/*features */

.features {
    background: url(../img/feature-bg.jpg)center/cover fixed no-repeat;
}

.features-titles {
    padding-top: 7rem;
    padding-bottom: 2rem;
    color: var(--mainWhite);
}

.features-title {
    font-weight: bold;
    font-size: 2.3rem;
}

.features-text {
    font-size: 0.9rem;
}

.feature-item {
    background-color: var(--mainWhite);
    border-radius: 0.7rem;
    padding: 1rem 2rem;
}

.feature-item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #222222;
    transition: all 0.7s ease-in-out;
}

.feature-item a:hover {
    color: rgba(138, 144, 255, 0.9);
}

.feature-item a h4 {
    font-size: 1.2rem;
    font-weight: bold;
}

.feature-item-title {
    font-size: 0.3rem;
}

.feature-item-title img {
    position: relative;
    top: -5px;
    width: 1.6rem;
}

.feature-text-secound {
    font-size: 0.9rem;
}


/* start footer */

.footer {
    background: url(../img/footer-bg.jpg)center/cover fixed no-repeat;
}

.footer-title {
    color: var(--mainWhite);
    font-weight: bold;
    padding-bottom: 1rem;
}

.footer-nav-item {
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}

.footer-nav-item:hover {
    color: #828fff;
}

.footer-login-title {
    color: var(--mainWhite);
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.footer-login-text {
    color: var(--mainWhite);
    font-size: 0.9rem;
}

.footer-input {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
}

.footer-btn {
    border: none;
    padding: 0.8rem 0.5rem;
    border-radius: 1.5rem;
    width: 10rem;
    background-color: #d496ff;
    color: var(--mainWhite);
    font-weight: bold;
    font-size: 0.9rem;
    transition: all 0.8s ease-in-out;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: #828fff;
}

.footer-btn-icon {
    font-size: 0.9rem;
    color: var(--mainWhite);
    transition: all 0.3s ease-in-out;
}

.footer-btn:hover .footer-btn-icon {
    transform: translateX(0.7rem);
}

.footer-subtitle {
    color: var(--mainWhite);
    font-weight: bold;
}


/* responsive footer images */

.footer-image {
    padding-top: 10px;
}

@media screen and (max-width:780px) {
    .footer-image {
        padding-right: 3rem;
    }
}

@media screen and (min-width:780px) {
    .footer-image {
        padding-right: 5rem;
    }
}

@media screen and (min-width:1000px) {
    .footer-image {
        padding-right: 0rem;
        width: 49px;
    }
}

@media screen and (min-width:1200px) {
    .footer-image {
        padding-right: 0rem;
        width: 60px;
    }
}

.footer-social-item {
    background-color: #111111;
    ;
    color: var(--mainWhite);
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    transition: all 0.4s ease-in-out;
}

.footer-social-item:hover {
    color: var(--mainWhite);
    background: #828fff;
}

.text-end {
    color: var(--mainWhite);
    font-size: 0.9rem;
}

.login {
    position: relative;
    top: -65px;
}

@media screen and (max-width:1000px) {
    .footer-end-section {
        padding-top: 100px !important;
    }
}